# ==============================
# Node
# ==============================

node_modules/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ==============================
# React Native / Metro
# ==============================

.metro-health-check*
.bundle/
.lock

# ==============================
# Environment / Secrets
# ==============================

.env
.env.local
.env.*.local

# ==============================
# macOS
# ==============================

.DS_Store

# ==============================
# Android / Gradle
# ==============================

android/.gradle/
android/build/
android/app/build/
android/local.properties
android/app/.cxx/

# ==============================
# Android / IDE
# ==============================

.idea/
*.iml
.apt_generated
.classpath
.project
.settings/

# ==============================
# iOS / Xcode
# ==============================

ios/build/
ios/Pods/

*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

xcuserdata/
DerivedData/

*.hmap
*.xccache
.swiftpm/

# ==============================
# Logs
# ==============================

*.log